DEV_MODE=true
BOT_TOKEN=your_dev_bot_token
ADMIN_IDS=123456789
DATABASE_URL==postgresql://bot_user:password123@localhost:5432/telegram_bot
BITRIX24_WEBHOOK_URL=http://localhost:5000/rest/1/test
BITRIX24_TELEGRAM_SOURCE_ID=77777777777
BITRIX24_ENABLED=true